<header title="GEM - Hooks"></header>
<div id="content" class="grow">

	<div class="form-group">
		<h4>Game</h4>
		<select ng-model="hook.selectedGame" ng-change="hook.selectedAction = undefined; hook.selectedEvent = undefined" ng-options="game.name for game in events track by game.id"></select>
	</div>

	<div class="form-group" ng-show="hook.selectedGame">
		<h4>ON</h4>
		<select ng-model="hook.selectedEvent" ng-change="hook.conditions = []" ng-options="event.name group by event.mode for event in hook.selectedGame.events track by event.id" tooltip="hook.selectedEvent.comment"></select>
	</div>

	<div class="form-group" ng-show="hook.selectedEvent">
		<h4>Action</h4>
		<select ng-model="hook.selectedAction">
			<option>do nothing</option>
			<option>play sound</option>
			<option>stop sounds</option>
			<option>take screenshot</option>
			<option>save replay</option>
			<option>show image</option>
			<option>show notification</option>
			<option>send keystrokes</option>
			<option>open url</option>
			<optgroup label="Logitech">
				<option>set device lighting</option>
				<option>execute lighting macro</option>
			</optgroup>
		</select>
	</div>

	<group label="Execute when" visible="{{hook.conditions.length}}" ng-if="hook.selectedAction && hook.selectedEvent.keys.length">
		<table ng-if="hook.conditions.length">
			<tbody>
				<tr ng-repeat="condition in hook.conditions">
					<td>
						<select ng-model="condition.key" ng-options="key.name for key in hook.selectedEvent.keys track by key.id" ng-change="condition.operator = undefined; condition.hook = undefined" tooltip="condition.key.info"></select>
					</td>
					<td>
						<select ng-model="condition.operator">
							<option>is equal to</option>
							<option>is not equal to</option>
							<option ng-if="condition.key.type === 'number'" no-anim>is greater than</option>
							<option ng-if="condition.key.type === 'number'" no-anim>is greater than or equal to</option>
							<option ng-if="condition.key.type === 'number'" no-anim>is less than</option>
							<option ng-if="condition.key.type === 'number'" no-anim>is less than or equal to</option>
						</select>
					</td>
					<td>
						<select ng-model="condition.data" ng-options="enum.name for enum in condition.key.enum track by enum.id" ng-if="condition.key.enum" no-anim tooltip="condition.data.info"></select>
						<select ng-model="condition.data" ng-if="condition.key.type === 'bool'" no-anim>
							<option>True</option>
							<option>False</option>
						</select>
						<input type="number" spellcheck="false" ng-model="condition.data" ng-if="condition.key.type === 'number'" no-anim>
						<input type="text" spellcheck="false" ng-model="condition.data" ng-if="!condition.key.type" no-anim>
					</td>
					<td>
						<select ng-model="condition.logical">
							<option>and</option>
							<option>or</option>
						</select>
					</td>
					<td style="text-align: right">
						<i class="fa fa-times fa-fw" ng-click="hook.conditions.splice(hook.conditions.indexOf(condition), 1)"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="btn-group">
			<button class="btn" ng-click="hook.conditions.push({})"><i class="fa fa-plus fa-fw"></i></button>
		</div>
	</group>

	<form name="hookForm" novalidate ng-switch on="hook.selectedAction">

		<div ng-switch-when="play sound">
			<div class="form-group">
				<h4>Sound</h4>
				<input type="url" spellcheck="false" required ng-model="hook.audio.url">
				<div class="btn-group">
					<file-picker filter="*.mp3,*.wav" ng-model="hook.audio.url"></file-picker>
					<button class="btn" ng-click="playAudio()" ng-disabled="hookForm.$invalid"><i class="fa fa-play fa-fw"></i></button>
					<button class="btn" ng-click="stopAudio()" ng-disabled="hookForm.$invalid"><i class="fa fa-stop fa-fw"></i></button>
				</div>
			</div>
			<div class="form-group">
				<checkbox label="Exclusive mode" ng-model="hook.audio.stopOtherSounds">
					<span class="small">Any other sound hook still playing will be stopped.</span>
				</checkbox>
			</div>
		</div>

		<div ng-switch-when="take screenshot">
			<div class="form-group">
				<checkbox label="Show success notification" ng-model="hook.screenshot.notify"></checkbox>
			</div>
			<div class="form-group">
				<checkbox label="Show sharing console" ng-model="hook.screenshot.share">
					<span class="small">Opens Overwolf's social network sharing console. Supports Twitter and VK.</span>
				</checkbox>
			</div>
		</div>

		<div ng-switch-when="save replay">
			<div class="form-group">
				<h4>Capture range</h4>
				<div class="form-group">
					<h4>Past (sec)</h4>
					<input type="number" min="-60" max="0" required ng-model="hook.replay.pastDuration">
				</div>
				<div class="form-group">
					<h4>Future (sec)</h4>
					<input type="number" min="1" max="60" required ng-model="hook.replay.futureDuration">
				</div>
			</div>
			<div class="form-group">
				<checkbox label="Show success notification" ng-model="hook.replay.notify"></checkbox>
			</div>
			<div class="form-group">
				<checkbox label="Autoplay" ng-model="hook.replay.autoplay"></checkbox>
			</div>
		</div>

		<div ng-switch-when="show image">
			<div class="form-group">
				<h4>URL</h4>
				<input type="url" spellcheck="false" required ng-model="hook.image.url">
				<div class="btn-group">
					<file-picker filter="*.bmp,*.jpeg,*.jpg,*.png,*.gif" ng-model="hook.image.url"></file-picker>
					<button class="btn" ng-click="calibrateImage()" ng-disabled="hookForm.$invalid">Calibrate</button>
				</div>
			</div>
			<group label="Size &amp; position">
				<div class="form-group">
					<h4>Position</h4>
					<div class="form-group">
						<h4>Top (px)</h4>
						<input type="number" min="0" required ng-model="hook.image.top">
					</div>
					<div class="form-group">
						<h4>Left (px)</h4>
						<input type="number" min="0" required ng-model="hook.image.left">
					</div>
				</div>
				<div class="form-group">
					<h4>Size</h4>
					<div class="form-group">
						<h4>Width (px)</h4>
						<input type="number" min="0" required ng-model="hook.image.width">
					</div>
					<div class="form-group">
						<h4>Height (px)</h4>
						<input type="number" min="0" required ng-model="hook.image.height">
					</div>
				</div>
			</group>
			<div class="form-group">
				<h4>Timeout (sec)</h4>
				<input type="number" min="0.1" required ng-model="hook.image.timeout">
			</div>
		</div>

		<div ng-switch-when="show notification">
			<div class="form-group">
				<h4>Text</h4>
				<input type="text" spellcheck="false" required ng-model="hook.notification.text" ng-trim="false">
				<div class="small" style="margin-top: 5px" ng-if="hook.selectedEvent.keys.length">
					<span>Variables: </span><span class="variable" ng-repeat="key in hook.selectedEvent.keys" ng-bind="key.name" ng-click="variableClicked(key)" tooltip="key.info"></span>
				</div>
			</div>
			<group label="Advanced options">
				<div class="form-group">
					<h4>Mode</h4>
					<select ng-model="hook.notification.mode">
						<option value="normal">Normal</option>
						<option value="sticky">Sticky</option>
					</select>
				</div>
				<div class="form-group">
					<h4>Type</h4>
					<select ng-model="hook.notification.type">
						<option value="alert">Default</option>
						<option value="notification">Notification</option>
						<option value="information">Information</option>
						<option value="success">Success</option>
						<option value="warning">Warning</option>
						<option value="error">Error</option>
					</select>
				</div>
				<div class="form-group">
					<h4>Position</h4>
					<select ng-model="hook.notification.layout">
						<option value="top">Top</option>
						<option value="topLeft">Top-Left</option>
						<option value="topCenter">Top-Center</option>
						<option value="topRight">Top-Right</option>
						<option value="centerLeft">Center-Left</option>
						<option value="center">Center</option>
						<option value="centerRight">Center-Right</option>
						<option value="bottomLeft">Bottom-Left</option>
						<option value="bottomCenter">Bottom-Center</option>
						<option value="bottomRight">Bottom-Right</option>
						<option value="bottom">Bottom</option>
					</select>
				</div>
				<div class="form-group">
					<h4>Open Animation</h4>
					<select ng-model="hook.notification.openAnimation" ng-options="animation.name as animation.name group by animation.group for animation in animations.open"></select>
				</div>
				<div class="form-group">
					<h4>Close Animation</h4>
					<select ng-model="hook.notification.closeAnimation" ng-options="animation.name as animation.name group by animation.group for animation in animations.close"></select>
				</div>
				<div class="form-group" ng-if="hook.notification.mode === 'normal'">
					<h4>Timeout (sec)</h4>
					<input type="number" min="0.1" required ng-model="hook.notification.timeout">
				</div>
			</group>
			<div class="form-group">
				<button class="btn" ng-click="testNotification()" ng-disabled="hookForm.$invalid">Test notification</button>
			</div>
		</div>

		<div ng-switch-when="send keystrokes">
			<div class="form-group">
				<h4>Keystrokes <info text="infos['keystrokes']"></info></h4>
				<input type="text" spellcheck="false" required ng-model="hook.keystrokes">
			</div>
		</div>

		<div ng-switch-when="open url">
			<div class="form-group">
				<h4>URL</h4>
				<input type="url" spellcheck="false" required ng-model="hook.openURL.url">
			</div>
			<div class="form-group">
				<checkbox label="Use default browser" ng-model="hook.openURL.default"></checkbox>
			</div>
		</div>

		<div ng-switch-when="set device lighting">
			<div class="form-group">
				<h4>Device</h4>
				<select>
					<option>G810 Orion Spectrum RGB Mechanical Gaming Keyboard</option>
				</select>
			</div>
			<div class="form-group">
				<h4>Effect</h4>
				<select ng-model="hook.keyboard.effect">
					<option>Fixed</option>
					<option>Flash</option>
					<option>Pulse</option>
				</select>
			</div>
			<div class="form-group">
				<h4>Color</h4>
				<color-picker ng-model="hook.keyboard.color"></color-picker>
			</div>
			<div class="form-group" ng-if="hook.keyboard.effect !== 'Fixed'">
				<h4>Speed</h4>
				<select ng-model="hook.keyboard.interval">
					<option value="250">Slower</option>
					<option value="200">Slow</option>
					<option value="150">Normal</option>
					<option value="100">Fast</option>
					<option value="50">Faster</option>
				</select>
			</div>
			<div class="form-group">
				<h4>Duration (sec)</h4>
				<input type="number" min="0.1" required ng-model="hook.keyboard.duration" >
			</div>
			<div class="form-group" ng-if="hook.keyboard.effect === 'Fixed'">
				<checkbox label="Ignore duration" ng-model="hook.keyboard.ignoreDuration"></checkbox>
			</div>
		</div>

		<div ng-switch-when="execute lighting macro">
			<div class="form-group">
				<h4>Macro</h4>
				<select ng-model="hook.macro.id" ng-options="macro.id as macro.name for macro in $storage.macros" required></select>
				<div class="btn-group">
					<button class="btn" ng-click="openMacros()"><i class="fa fa-keyboard-o fa-fw"></i></button>
				</div>
			</div>
		</div>

	</form>

</div>
<footer>
	<button class="btn" ng-disabled="!hook.selectedAction || hookForm.$invalid" ng-click="save()">Save</button>
</footer>