<div id="content" class="grow">

	<div class="form-group">
		<h6>Game</h6>
		<select ng-model="hook.selectedGame" ng-change="hook.selectedAction = undefined; hook.selectedEvent = undefined" ng-options="game.name for game in events track by game.id"></select>
	</div>

	<div class="form-group" ng-show="hook.selectedGame">
		<h6>On</h6>
		<select ng-model="hook.selectedEvent" ng-change="hook.conditions = []" ng-options="event.name group by event.mode for event in hook.selectedGame.events track by event.id" tooltip="hook.selectedEvent.comment"></select>
	</div>

	<div class="form-group" ng-show="hook.selectedEvent">
		<h6>Action</h6>
		<select ng-model="hook.selectedAction">
			<option>log event</option>
			<option>play sound</option>
			<option>stop sounds</option>
			<option>take screenshot</option>
			<option>save replay</option>
			<option>show notification</option>
			<option>send keystrokes</option>
			<option>open url</option>
			<optgroup label="Logitech">
				<option>set device lighting</option>
				<option>execute lighting macro</option>
			</optgroup>
		</select>
	</div>

	<group label="Execute when" visible="{{hook.conditions.length}}" ng-if="hook.selectedAction && (hook.selectedAction !== 'log event') && hook.selectedEvent.keys.length">
		<table ng-if="hook.conditions.length">
			<tbody>
				<tr ng-repeat="condition in hook.conditions">
					<td>
						<select ng-model="condition.key" ng-options="key.name for key in hook.selectedEvent.keys track by key.id" ng-change="condition.operator = undefined; condition.data = undefined; condition.logical = undefined" tooltip="condition.key.info"></select>
					</td>
					<td>
						<select ng-model="condition.operator">
							<option>is equal to</option>
							<option>is not equal to</option>
							<option ng-if="condition.key.type === 'number'">is greater than</option>
							<option ng-if="condition.key.type === 'number'">is greater than or equal to</option>
							<option ng-if="condition.key.type === 'number'">is less than</option>
							<option ng-if="condition.key.type === 'number'">is less than or equal to</option>
						</select>
					</td>
					<td>
						<select ng-model="condition.data" ng-options="enum.name for enum in condition.key.enum track by enum.id" ng-if="condition.key.enum" no-anim tooltip="condition.data.info"></select>
						<select ng-model="condition.data" ng-if="condition.key.type === 'bool'" no-anim>
							<option>true</option>
							<option>false</option>
						</select>
						<input type="number" spellcheck="false" ng-model="condition.data" ng-if="condition.key.type === 'number'" no-anim>
						<input type="text" spellcheck="false" ng-model="condition.data" ng-if="!condition.key.type" no-anim>
					</td>
					<td>
						<select ng-model="condition.logical">
							<option>and</option>
							<option>or</option>
						</select>
					</td>
					<td style="text-align: right">
						<i class="fa fa-times fa-fw" ng-click="hook.conditions.splice(hook.conditions.indexOf(condition), 1)"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="btn-group row">
			<i class="btn fa fa-plus fa-fw" ng-click="hook.conditions.push({})"></i>
		</div>
	</group>

	<form name="hookForm" novalidate ng-switch on="hook.selectedAction">

		<div ng-switch-when="log event">

		</div>

		<div ng-switch-when="play sound">
			<div class="form-group">
				<h6>Sound</h6>
				<input type="url" name="hookAudioUrl" spellcheck="false" required ng-model="hook.audio.url">
				<ul ng-show="hookForm.hookAudioUrl.$invalid && hookForm.hookAudioUrl.$touched" ng-messages="hookForm.hookAudioUrl.$error">
					<li ng-message="required">This field is required.</li>
					<li ng-message="url">Invalid URL.</li>
				</ul>
				<div class="btn-group row">
					<file-picker filter="*.mp3,*.wav" ng-model="hook.audio.url"></file-picker>
					<i class="btn fa fa-play fa-fw" ng-click="playAudio()" ng-disabled="hookForm.$invalid"></i>
					<i class="btn fa fa-stop fa-fw" ng-click="stopAudio()" ng-disabled="hookForm.$invalid"></i>
				</div>
			</div>
			<div class="form-group">
				<checkbox label="Stop other sound hooks" ng-model="hook.audio.stopOtherSounds"></checkbox>
			</div>
		</div>

		<div ng-switch-when="take screenshot">
			<div class="form-group">
				<checkbox label="Show success notification" ng-model="hook.screenshot.notify"></checkbox>
			</div>
		</div>

		<div ng-switch-when="save replay">
			<div class="form-group">
				<h6>Capture range</h6>
				<input type="text" ion-range ng-model="hook.replay.range">
			</div>
			<div class="form-group">
				<checkbox label="Show success notification" ng-model="hook.replay.notify"></checkbox>
			</div>
			<div class="form-group">
				<checkbox label="Autoplay" ng-model="hook.replay.autoplay"></checkbox>
			</div>
		</div>

		<div ng-switch-when="show notification">
			<div class="form-group">
				<h6>Text</h6>
				<input type="text" id="notificationText" name="notificationText" spellcheck="false" required ng-model="hook.notification.text" ng-trim="false">
				<ul ng-show="hookForm.notificationText.$invalid && hookForm.notificationText.$touched" ng-messages="hookForm.notificationText.$error">
					<li ng-message="required">This field is required.</li>
				</ul>
				<div style="margin-top: 5px" ng-if="hook.selectedEvent.keys.length">
					<span>Variables: </span><span class="variable" ng-repeat="key in hook.selectedEvent.keys" ng-bind="key.name" ng-click="variableClicked(key)" tooltip="key.info"></span>
				</div>
			</div>
			<group label="Advanced options">
				<div class="form-group">
					<h6>Mode</h6>
					<select ng-model="hook.notification.mode">
						<option value="normal">Normal</option>
						<option value="sticky">Sticky</option>
					</select>
				</div>
				<div class="form-group">
					<h6>Type</h6>
					<select ng-model="hook.notification.type">
						<option value="alert">Alert</option>
						<option value="info">Info</option>
						<option value="success">Success</option>
						<option value="warning">Warning</option>
						<option value="error">Error</option>
					</select>
				</div>
				<div class="form-group">
					<h6>Open Animation</h6>
					<select ng-model="hook.notification.openAnimation" ng-options="animation.name as animation.name group by animation.group for animation in animations.open"></select>
				</div>
				<div class="form-group">
					<h6>Close Animation</h6>
					<select ng-model="hook.notification.closeAnimation" ng-options="animation.name as animation.name group by animation.group for animation in animations.close"></select>
				</div>
				<div class="form-group" ng-if="hook.notification.mode === 'normal'">
					<h6>Timeout (sec)</h6>
					<input type="number" name="notificationTimeout" min="0.1" required ng-model="hook.notification.timeout">
					<ul ng-show="hookForm.notificationTimeout.$invalid && hookForm.notificationTimeout.$touched" ng-messages="hookForm.notificationTimeout.$error">
						<li ng-message="required">This field is required.</li>
						<li ng-message="number">Invalid number.</li>
						<li ng-message="min">Min value is 0.1.</li>
					</ul>
				</div>
			</group>
			<div class="form-group">
				<button class="btn" ng-click="testNotification()" ng-disabled="hookForm.$invalid">Test notification</button>
			</div>
		</div>

		<div ng-switch-when="send keystrokes">
			<div class="form-group">
				<h6>Keystrokes</h6>
				<input type="text" name="keystrokes" spellcheck="false" placeholder="A Z F1 F12 0 9 SPACE ENTER NUMPAD0 NUMPAD9 ALT+Q CTRL+W SHIFT+E" required ng-model="hook.keystrokes">
				<ul ng-show="hookForm.keystrokes.$invalid && hookForm.keystrokes.$touched" ng-messages="hookForm.keystrokes.$error">
					<li ng-message="required">This field is required.</li>
				</ul>
				<p style="margin-top: 5px">Be careful with this action, your inputs affect it. For instance, sending F4 while you are holding ALT will result in ALT+F4.</p>
				<p>To apply a delay between keystrokes use keystroke@ms, example: NUMPAD5@1000 NUMPAD2</p>
			</div>
		</div>

		<div ng-switch-when="open url">
			<div class="form-group">
				<h6>URL</h6>
				<input type="url" name="openURLURL" spellcheck="false" required ng-model="hook.openURL.url">
				<ul ng-show="hookForm.openURLURL.$invalid && hookForm.openURLURL.$touched" ng-messages="hookForm.openURLURL.$error">
					<li ng-message="required">This field is required.</li>
					<li ng-message="url">Invalid URL.</li>
				</ul>
			</div>
			<div class="form-group">
				<checkbox label="Use default browser" ng-model="hook.openURL.default"></checkbox>
			</div>
		</div>

		<div ng-switch-when="set device lighting">
			<div class="form-group">
				<h6>Device</h6>
				<select>
					<option>G810 Orion Spectrum RGB Mechanical Gaming Keyboard</option>
				</select>
			</div>
			<div class="form-group">
				<h6>Effect</h6>
				<select ng-model="hook.keyboard.effect">
					<option>Fixed</option>
					<option>Flash</option>
					<option>Pulse</option>
				</select>
			</div>
			<div class="form-group">
				<h6>Color</h6>
				<color-picker ng-model="hook.keyboard.color"></color-picker>
			</div>
			<div class="form-group" ng-if="hook.keyboard.effect !== 'Fixed'">
				<h6>Speed</h6>
				<select ng-model="hook.keyboard.interval">
					<option value="250">Slower</option>
					<option value="200">Slow</option>
					<option value="150">Normal</option>
					<option value="100">Fast</option>
					<option value="50">Faster</option>
				</select>
			</div>
			<div class="form-group">
				<h6>Duration (sec)</h6>
				<input type="number" name="keyboardDuration" min="0.1" required ng-model="hook.keyboard.duration">
				<ul ng-show="hookForm.keyboardDuration.$invalid && hookForm.keyboardDuration.$touched" ng-messages="hookForm.keyboardDuration.$error">
					<li ng-message="required">This field is required.</li>
					<li ng-message="min">Min value is 0.1.</li>
				</ul>
			</div>
			<div class="form-group" ng-if="hook.keyboard.effect === 'Fixed'">
				<checkbox label="Ignore duration" ng-model="hook.keyboard.ignoreDuration"></checkbox>
			</div>
		</div>

		<div ng-switch-when="execute lighting macro">
			<div class="form-group">
				<h6>Macro</h6>
				<select ng-model="hook.macro.id" ng-options="macro.id as macro.name for macro in $storage.macros" required></select>
				<div class="btn-group">
					<button class="btn" ng-click="openMacros()"><i class="fa fa-keyboard-o fa-fw"></i></button>
				</div>
			</div>
		</div>

	</form>

</div>
<footer>
	<button class="btn" ng-disabled="!hook.selectedAction || hookForm.$invalid" ng-click="save()"><i class="fa fa-floppy-o fa-fw"></i> Save</button>
</footer>