<header title="GEM - Event log"></header>
<div id="content" class="grow">
	<table class="event-log" ng-if="$storage.events.length" ng-repeat="event in $storage.events">
		<tr>
			<th>{{::event.name}} ( {{::event.time}} )</th>
		</tr>
		<tr class="event-data" ng-repeat="(key, value) in event.data">
			<td><span ng-bind="::key" ng-click="placeOnClipboard(key)"></span> ( <span ng-bind="::value" ng-click="placeOnClipboard(value)"></span> )</td>
		</tr>
	</table>
	<p ng-if="!$storage.events.length">No events</p>
</div>
<footer>
	<button class="btn" ng-disabled="!$storage.events.length" ng-click="clearLog()">Clear</button>
</footer>