<div id="content" class="grow">
	<h6 class="legend">Hooks</h6>
	<p ng-if="!$storage.hooks.length">No hooks yet</p>
	<ul>
		<li class="row" ng-repeat="hook in $storage.hooks track by hook.id">
			<span class="grow" ng-class="{'hook-disabled': !hook.enabled}" ng-click="hook.enabled = !hook.enabled">{{hook.selectedGame.name}} on {{hook.selectedEvent.name}} {{hook.selectedAction}}</span>
			<div class="row no-shrink">
				<i class="btn fa fa-pencil fa-fw" ng-click="editHook($index)"></i>
				<i class="btn fa fa-times fa-fw" ng-click="deleteHook($index)"></i>
			</div>
		</li>
	</ul>
</div>
<footer>
	<button class="btn" ng-click="newHook()"><i class="fa fa-plug fa-fw"></i> New hook</button>
</footer>
