<header title="GEM - Videos"></header>
<div id="content" class="grow" ng-class="{'row wrap': replayFiles.length}">
	<div class="card" ng-repeat="replay in replayFiles | orderBy: '-date'" ng-show="replay.loaded">
	  	<div class="card-image">
			<img class="thumbnail" ng-src="{{replay.thumbnailUrl}}" ng-if="replay.thumbnailUrl && !replay.errorThumbnail" ng-error="replay.errorThumbnail = true" ng-load="replay.loaded = true">
			<img src="assets/images/no-thumbnail.jpg" ng-if="!replay.thumbnailUrl || replay.errorThumbnail" ng-load="replay.loaded = true">
		</div>
		<div class="card-content-wrapper column">
			<div class="card-content column grow">
				<div class="row-center row-items-middle grow">
					<i class="fa fa-play fa-fw fa-2x" ng-click="playReplay(replay)"></i>
					<i class="fa fa-external-link fa-fw fa-2x" ng-click="exploreReplay(replay)"></i>
					<i class="fa fa-trash fa-fw fa-2x" ng-click="deleteReplay(replay)"></i>
				</div>
				<div style="text-align: center">
					<h4 ng-bind="replay.name"></h4>
					<span class="small" ng-if="replay.date">created {{replay.date | moment}}</span>
				</div>
			</div>
		</div>
	</div>
	<p ng-if="!replayFiles.length">No videos</p>
</div>
<footer></footer>