<div id="content" class="grow">
	<h6 class="legend">Replays</h6>
	<p ng-if="!replays.length">No replays yet</p>
	<div class="replay row row-items-stretch" ng-repeat="replay in replays | orderBy: '-date'">
	  	<div class="replay-image">
			<img ng-src="{{replay.thumbnailUrl}}" ng-if="replay.thumbnailUrl && !replay.errorThumbnail" ng-error="replay.errorThumbnail = true">
			<img src="assets/images/no-thumbnail.jpg" ng-if="!replay.thumbnailUrl || replay.errorThumbnail">
		</div>
		<div class="replay-info column grow">
			<h6 ng-bind="::replay.name"></h6>
			<span ng-if="replay.date">created {{replay.date | moment}}</span>
		</div>
		<div class="row">
			<i class="btn fa fa-play fa-fw" ng-click="playReplay(replay)"></i>
			<i class="btn fa fa-external-link fa-fw" ng-click="exploreReplay(replay)"></i>
			<i class="btn fa fa-trash fa-fw" ng-click="deleteReplay(replay)"></i>
		</div>
	</div>
</div>
<footer></footer>