<header title="GEM - Settings"></header>
<div id="content" class="grow">
	<form name="optionsForm" novalidate>
		<div class="form-group">
			<h4>Theme</h4>
			<div themer-switcher></div>
		</div>
		<div class="form-group">
			<toggle label="Replay capture" checked="replayCaptureState" ng-click="toggleReplayCapture()">
				<span class="small">Enables replay capture functionalities.</span>
			</toggle>
		</div>
		<div class="form-group">
			<checkbox label="Enable replay capture on minimize" ng-model="settings.captureOnMinimize">
				<span class="small">Replay capture will be automatically turned on when minimized.</span>
			</checkbox>
		</div>
		<div class="form-group">
			<checkbox label="Capture notifications/images" ng-model="settings.captureNotifications">
				<span class="small">Notifications and images will be shown on the replay video.</span>
			</checkbox>
		</div>
		<div class="form-group">
			<checkbox label="Show keyboard and mouse overlay" ng-model="settings.captureInputs">
				<span class="small">Your keystrokes and mouse clicks will be displayed on the replay video.</span>
			</checkbox>
		</div>
		<div class="form-group">
			<external label="Video settings" href="overwolf://settings/capture"></external>
		</div>
		<div class="form-group">
			<external label="Hotkeys" href="overwolf://settings/hotkeys#instant-replay"></external>
			<div class="form-group">
				<h4>Instant replay <span ng-show="instantReplayHotkey">( {{instantReplayHotkey}} )</span></h4>
				<span class="small">Replay the last 20 seconds of your game.</span>
			</div>
		</div>
	</form>
</div>
<footer>
	<button class="btn" ng-click="save()" ng-disabled="optionsForm.$invalid">Save</button>
</footer>