<!DOCTYPE html>
<html ng-app="gemApp">
<head>
	<meta charset="UTF-8">
	<title>GEM - Notifications</title>
	<link rel="stylesheet" href="assets/css/base.css">
	<link rel="stylesheet" href="assets/css/flex.css">
	<link rel="stylesheet" href="assets/css/jquery-ui.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<style>
		div[ui-draggable]
		{
			position: relative;
			display: inline-block;
			vertical-align: top;
			cursor: move;
		}
		div[ui-resizable]
		{
			border: 1px solid #fff;
		}
		div[ui-resizable] img
		{
			width: 100%;
		}
		.ui-resizable-handle
		{
			background: #fff;
			border: 1px solid #000;
			width: 10px;
			height: 10px;
			z-index: 2;
		}
		.ui-resizable-se
		{
			right: -5px;
			bottom: -5px;
		}
	</style>

	<script src="libs/q.js"></script>
	<script src="libs/jquery.min.js"></script>
	<script src="libs/jquery-ui.min.js"></script>
	<script src="libs/angular.min.js"></script>
	<script src="libs/ngStorage.min.js"></script>
	<script src="libs/noty/jquery.noty.packaged.min.js"></script>
	<script src="libs/noty/themes/custom.js"></script>

	<script src="app/notification/module.js"></script>
	<script src="app/notification/directives/uiDraggable.js"></script>
	<script src="app/notification/directives/uiResizable.js"></script>
	<script src="app/notification/controllers/main.controller.js"></script>

	<script src="app/shared/directives/ngLoad.js"></script>
	<script src="app/shared/directives/ngError.js"></script>

	<script src="app/shared/services/messenger.js"></script>

	<script async src="http://content.overwolf.com/libs/ads/latest/owads.min.js" onload="adLoaded()"></script>
	<script>
		function adLoaded() {
			window.myOverwolfAd = new OwAd(document.getElementById('adDiv'));

			var events = ['loaded', 'impression', 'play', 'pause', 'resume', 'complete', 'seek', 'mute', 'unmute', 'volume', 'error'];
			events.forEach(function(event) {
				myOverwolfAd.addEventListener(event, function() {
					console.info('[Ad]', event, 'event fired!');
				});
			});

			myOverwolfAd.addEventListener('play', function() {
				$('#adContainer').css('display', '');
			});

			myOverwolfAd.addEventListener('impression', function() {
				$('#adCloseButton').css('display', '');
			});

			myOverwolfAd.addEventListener('error', function() {
				closeAd();
			});

			myOverwolfAd.addEventListener('complete', function() {
				closeAd();
			});
		}

		function closeAd() {
			$('#adContainer').remove();
		}
	</script>
</head>
<body ng-controller="MainController">
	<img style="position: absolute" ng-repeat="image in images" ng-src="{{image.url}}" ng-style="{top: image.top, left: image.left, width: (image.width ? image.width + 'px' : ''), height: (image.height ? image.height + 'px' : '')}">
	<img style="display: none" ng-repeat="preloadImage in preloadImages" ng-src="{{preloadImage.url}}" ng-load="imagePreloaded(preloadImage)" ng-error="imageError(preloadImage)">
	<div ng-if="calibrateImage.url" ui-draggable ui-resizable ng-show="calibrateImage.loaded">
		<img ng-src="{{calibrateImage.url}}" ng-load="calibrateImageLoaded()">
	</div>
	<div id="adContainer" class="column" style="display: none; position: absolute; left: 50%">
		<div id="adDiv" style="position: relative; left: -50%; border: 1px solid #000">
			<div id="adTitle" class="row" style="background: #000; color: #FFF; padding: 0.3em">
				<h3 class="grow">GEM - Ad</h3>
				<i id="adCloseButton" class="fa fa-times fa-fw" style="display: none; cursor: pointer" onclick="closeAd()"></i>
			</div>
		</div>
	</div>
</body>
</html>