body {
	background: #1C1D20;
	border: 1px solid #5E6869;
	color: #7D8688;
}
input[type=text], input[type=url], input[type=number], select {
	background: linear-gradient(#282D2D, #1A1F1F);
	border: 1px solid #444C4C;
	color: #FFF;
}
input[type=text]:hover, input[type=url]:hover, input[type=number]:hover, select:hover {
	background: linear-gradient(#383D3D, #2A2F2F);
}
option, optgroup {
	background: #3D4448;
}
h1, h2, h3, h4, h5, h6 {
	color: #FFF;
}
#header {
	background: linear-gradient(#18181A 50%, #171719 50%);
}
#footer {
	border-top: 1px solid #5E6869;
}
.btn {
	background: linear-gradient(#596B74, #3E4B52);
	color: #FFF;
	border: 1px outset #9EA5A9;
	text-shadow: 0 2px 2px #333;
}
.btn:not([disabled]):hover {
	background: linear-gradient(#A7C6D7, #5D707A);
}
.btn:not([disabled]):active {
	border-style: inset;
}