body {
	background: linear-gradient(to bottom, #000, #13303F 40%, #000);
	border: 1px solid #777;
	color: #CCC;
}
input[type=text], input[type=url], input[type=number], select {
	background: linear-gradient(#999, #6B6B6B);
	border-radius: 4px;
	color: #FFF;
}
input[type=text]:hover, input[type=url]:hover, input[type=number]:hover, select:hover {
	background: linear-gradient(#ADADAD, #898989);
}
input.ng-touched.ng-invalid {
	color: #F00;
}
option, optgroup {
	background: #999;
}
h1, h2, h3, h4, h5, h6, th {
	color: #FFF;
}
#header {
	background: linear-gradient(to bottom, #777, #000 40%, rgba(0, 0, 0, 0.9));
}
#footer {
	border-top: 1px solid #777;
}
.btn {
	background: linear-gradient(#00A1D8, #047FA9);
	border-radius: 4px;
	color: #FFF;
}
.btn.back {
	background: linear-gradient(#999, #6B6B6B);
}
.btn:not([disabled]):hover {
	background: linear-gradient(#30B4E1, #3799BA);
}
.btn.back:not([disabled]):hover {
	background: linear-gradient(#ADADAD, #898989);
}