body {
	background: #171717;
	border: 1px solid #777;
	color: #CCC;
}
input[type=text], input[type=url], input[type=number], select {
	background: #232323;
}
input[type=text]:hover, input[type=url]:hover, input[type=number]:hover, select:hover {
	background: #640000;
}
input.ng-touched.ng-invalid {
  color: red;
}
option, optgroup {
	background: #111;
}
h1, h2, h3, h4, h5, h6, th {
	color: #FFF;
}
#header {
	background: #171717;
	text-transform: uppercase;
}
#footer {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.btn {
	background: #640000;
	border-bottom: 2px solid #F00;
}
.btn:not([disabled]):hover {
	background: #F00;
	color: #FFF;
}